.App {
  width: 100%;
  background-color: rgb(104, 1, 1);
  color: rgb(247, 245, 245);
}
.TopFifty {
  margin: 0 0;
  grid-row-gap: 0;
  row-gap: 0;
  display: grid;
  grid-column-gap: auto;
  grid-template-columns: 200px 200px 200px 200px;
  padding: 5px 15px;
  justify-content: space-evenly;
  width: 90%;
}
.singleShow {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 200px;
}
.singleShow:hover {
  cursor: pointer;
}
img {
  height: 280px;
  width: 200px;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
